includes:
  # - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: 9
  paths:
    - src/
  excludePaths:
    - vendor/*
    - src/Adapter/Stash.php
  reportUnmatchedIgnoredErrors: false
  tmpDir: .phpstan.cache
